@import url(_variaveis.css);
@import url(_reset.css);

/*Body css */
body{
    font-family: var(--familia-corpo);
    font-size: var(--tamanho-corpo);
    color: var(--cinza);

    background: url(../../img/fundo-textura.png), url(../../img/fundo-linhas.png);
    background-position:center;
}

.container{
    padding-right: 1rem;
    padding-left: 1rem;
}
.titulo{
    font-size: var(--tamanho-titulo);
}

.titulo--destaque{
    font-family: var(--familia-titulo-destaque);
}

.alinhamento--esquerda{
    text-align:left;
}
.alinhamento--meio{
    text-align:center;
}

.texto{
    line-height: 26px;
}